
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navBarLink {
  margin: 5px;
}

.wrapper{
  columns: 2;
  width: 100%;
}

.Form {
  width: 400px;
  text-align: center;
  margin-left: 450px;
  background: linear-gradient(rgb(0, 174, 255), rgb(139, 156, 139))
}

.grad{
  background: linear-gradient(rgb(0, 174, 255), rgb(120, 140, 120));
}

.center{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* labeling for about page */
.list{
  display: list-item;
  list-style-type: "⛰️";
  padding-inline-start: 1ch;

}

.ul{

  font-family: "Trebuchet MS", Verdana, sans-serif;
  margin-left: 10px;
}

.span{
  margin-left: 65%
}

.link{
  color: rgb(12, 6, 6);
  text-align: left;
}
.link2{
  color: rgb(12, 6, 6);
  text-align: right
}

/* styling for like button */
.button{
  margin-left: 75%
}

.imagesizing{
  width: 400px;
  height: 400px;
  margin-left: 10px
}

.card{
  border-radius: 25px;
 margin-left: 10%;
 margin-right:10%;
 color: black;
 background: linear-gradient(white,  green 30%)
}

